<launch>
<!-- Start simulation -->
<include file="$(find panda_simulation)/launch/simulation.launch"/>

<!-- Add Camera Robot -->
<arg name="x" default="2.0"/> <!-- Position on plane -->
<arg name="y" default="0.0"/>
<arg name="Y" default="3.14159265359"/> <!-- Orientation on plane -->
<arg name="P" default="0"/> <!-- Look up / down -->

<arg name="height" default="1.0"/>

<param name="cam_bot_description" command="$(find xacro)/xacro $(find enhanced_sim)/model/camera_bot.urdf.xacro height1:=$(arg height)"/>
<node name="spawn_cam_urdf" pkg="gazebo_ros" type="spawn_model" 
	args="-x $(arg x) -y $(arg y) -z $(arg height)
		  -R 0 -P $(arg P)  -Y $(arg Y) 
		  -param cam_bot_description -urdf -model cam_bot"/>
<node name="CollidingNode" pkg="enhanced_sim" type="CollidingNode.py" output="screen"/>
<!-- Adapt if camera bot is moved or modified -->
<arg name="x_cam" default="$(eval arg('x'))"/>
<arg name="y_cam" default="$(eval arg('y'))"/>
<arg name="R_cam" default="$(eval arg('Y') + 1.57079632679)"/>
<arg name="Y_cam" default="$(eval 1.57079632679-arg('P'))"/>
<node name="CameraTransform" pkg="tf" type="static_transform_publisher" args="$(arg x_cam)  $(arg y_cam) $(arg height) $(arg R_cam) 3.14159265359 $(arg Y_cam) world camera_bot/camera_link 10"/>
</launch>

